boddy {
    background-color: whitesmoke;
}
.btnPlay {
    background-color: gray;
}
.btnPause {
    background-color: red;
}
.btnprevious {
    background-color: lightblue;
}
btnprevious {
    background-color: yellow;
}